/* Vector */
.first-vector{
  display: flex;
  position: absolute;
  left: 41%;
  right: 48.76%;
  top: 38.25%;
  bottom: 47.31%;
  background: #FFFFFF;
  border: 0.496227px solid #262626;
  transform: matrix(-0.96, 0.27, 0.27, 0.96, 0, 0);
}

