* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background: #3c3a39;
  padding: 20px;
}

.logo {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

.logo:active {
  box-shadow: 0 2px rgb(255, 254, 254);
  transform: translateY(4px);
}

.menu-icon {
  width: 25px;
  height: 2px;
  background-color: #acb7c3;
  margin: 6px 0;
}

.nav-menu {
  cursor: pointer;
}

.nav-menu:active {
  box-shadow: 0 1px rgb(255, 254, 254);
  transform: translateY(4px);
}

.headline-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  background: #1c1a19;
  background-image: url("../img/bkgrnd.png");
  background-position: 100% 100%;
  background-size: 25%;
  background-repeat: no-repeat;
}

.hey-there {
  position: static;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.soft-dev {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  flex-grow: 0;
}

.desc {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.contact-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  list-style: none;
}

.item-icon {
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.item-icon:hover {
  border-radius: 20px;
}

.item-icon:active {
  box-shadow: 0 5px rgb(255, 254, 254);
  transform: translateY(4px);
}

.section-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #fff;
}

.recent-works {
  margin: 120px 24px 104px 24px;
  border-bottom: 1px solid #212121;
  padding-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 24px;
  background-color: #fff;
  padding-bottom: 120px;
}

.grid-item {
  padding: 20px;
}

.placeholder-img {
  width: 100%;
  height: auto;
}

.post-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin: 12px 0;
}

.post-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.buttons {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.buttons li {
  list-style: none;
  text-align: center;
  background-color: #fff;
  margin-right: 12px;
  padding: 10px 12px 10px 12px;
  border: 1px solid #8993a4;
  cursor: pointer;
}

.buttons li a {
  text-decoration: none;
  color: #091e42;
}

.see-button li {
  margin-top: 10px;
  background: #ff6b00;
  border: 0;
  font-weight: 700;
  font-size: 17px;
}

.see-button li a {
  color: #fff;
}

.art-printing {
  background-image:
    linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%),
    url("../img/works-img/art-printing.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.art-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 60px 0 0 0;
}

.art-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.button-transparent li {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.button-transparent li a {
  color: #fff;
}

.see-button-2 {
  background: #ff6b00;
  margin-top: 22px;
}

.see-button-2 li {
  margin-left: 114px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.about {
  background: #1c1a19;
}

.about-me {
  display: flex;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6f00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.about-desc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 44px 0;
}

.about-img {
  background-image: url("../img/about-img/about-bkgrnd.png");
  background-position: 100% 100%;
  background-size: 35%;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.line {
  border: 1px solid #fff;
  margin-right: 35px;
  margin-left: 35px;
}

.skills-heading {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0 12px;
  text-align: center;
}

.skills-list {
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  margin: 44px 0;
}

.language-shape {
  list-style-image: url('../img/skills-img/language1.png');
}

.languages li {
  list-style: none;
}

.frameworks-shape {
  list-style-image: url('../img/skills-img/frameworks.png');
}

.frameworks li {
  list-style: none;
}

.skills-shape {
  list-style-image: url('../img/skills-img/skills.png');
}

.skills li {
  list-style: none;
}

.buttons li:hover {
  text-decoration: none;
}

.buttons li:active {
  box-shadow: 0 0 #444;
  transform: translateY(4px);
}

.see-button li a:hover {
  color: #f55800;
}

.see-button li:hover {
  border: 1px solid #f55800;
  background: #fff5e1;
}
